<table class="table table-bordered">
  <thead>
    <tr>
      <th>线路名称</td>
      <th>线路天数</td>
      <th>出行方式</td>
      <th>已报人数</td>
      <th>操作</td>
    </tr>
  </thead>

  <tbody>
    <% @lines.each do |line| %>
    <tr>
      <td><%= link_to(line.title, line_path(line)) %></td>
      <td><%= line.days %></td>
      <td>
        <%= render_transportations(line.transportations) %>
        <%#= eval(line.transportations).map { |f| t(f, scope: "line.transportations") }.join('，') %>
      </td>
      <td><%= 15 %></td>
      <td>
        <%= link_to t("registration.new_registration"), new_registration_path(:selected_line_id => line.id), class: "btn btn-primary btn-xs" %>
        <%#= link_to "Delete", admin_line_path(line), method: :delete, class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
