
  <div class="group">
    <%= f.input :batch_id, label: "疗养批次",
                as: :radio_buttons,
                collection: Batch.all.map{ |s| [ "#{s.title} (#{s.start_date.to_date} 至 #{s.return_date.to_date})", s.id ] },
                checked: Batch.first.id %>
  </div>

  <div class="group">
    <%= f.input :line_id, label: "疗养线路", as: :radio_buttons, collection: Line.all.map{ |s| [ "#{s.title} (#{s.days} 天)", s.id ] } %>
  </div>

  <div class="group">
    <%= f.label "是否包间" %><br>
    <%= f.collection_radio_buttons(:is_room_share, [[true, '合住'], [false, '包间']], :first, :second, boolean_style: :inline, item_wrapper_tag: false, checked: @registration.is_room_share ) do |b| %>
      <% b.label { b.radio_button(class: room_share_class(b.value) ) + b.text } %>
    <% end %>
  </div>

  <div class="group" id="room_mate" style="display:none">
    <%= f.input :room_mate, label: "合住人" %>
  </div>



  <%#= f.submit t("registration.submit"), data: { disable_with: "Submitting..." }, class: "btn btn-primary" %>
  <%= f.submit t("registration.submit"), data: { disable_with: "Submitting..." }, class: "btn btn-primary" %>
