<%= simple_form_for [:admin, @line] do |f| %>

  <div class="group">
    <%= f.input :title, label: "线路名称" %>
  </div>

  <div class="group">
    <%= f.input :days, label: "天数" %>
  </div>

  <div class="group">
    <%= f.input :transportations, label: "交通工具", as: :check_boxes, collection: Line::TRANSPORATATIONS.map{ |s| [t(s, :scope => "line.transportations"), s ] },
            include_blank: false, include_hidden: false %>
  </div>

  <div class="group">
    <%= f.input :description, label: "请输入线路描述(行程)" %>
  </div>


  <%= f.submit "Submit", data: { disable_with: "Submitting..." }, class: "btn btn-primary" %>

<% end %>

<script>
  autosize($('#line_description'));
</script>
