<div class="pull-right" style="padding-bottom: 20px;">
  <%= link_to("新增批次", new_admin_batch_path, class: "btn btn-primary btn-sm" ) %>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>批次名称</td>
      <th>出发日期</td>
      <th>返回日期</td>
      <th>操作</td>
    </tr>
  </thead>

  <tbody>
    <% @batches.each do |batch| %>
    <tr>
      <td><%= batch.title %></td>
      <td><%= batch.start_date.to_date %></td>
      <td><%= batch.return_date.to_date %></td>
      <td>
        <%= link_to "Edit", edit_admin_batch_path(batch), class: "btn btn-primary btn-xs" %>
        <%= link_to "Delete", admin_batch_path(batch), method: :delete, class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
