
<h3><%= t("registration.admin_show_title") %></h3>


<table class="table table-hover table-responsive line-detail">
  <thead>
    <tr>
      <th>批次</td>
      <th>线路</td>
      <th>姓名</td>
      <th>联系电话</td>
      <th>身份证号</td>
      <th>亲属人数</td>
      <th>是否包间</td>
      <th>操作</td>
    </tr>
  </thead>

  <tbody>
    <% @registrations.each do |registration| %>
    <tr>
      <td><%= registration.batch.title %></td>
      <td><%= registration.line.title %></td>
      <td><%= registration.user.profile.name %></td>
      <td><%= registration.user.profile.phonenumber %></td>
      <td><%= registration.user.profile.cnid %></td>
      <td><%= registration.user.kins_count %></td>
      <td><%= render_room_share(registration.is_room_share) %></td>
      <td>
        <%= link_to t("general.edit"), edit_admin_registration_path(registration), class: "btn btn-success btn-xs" %>
        <%= link_to t("general.delete"),
                    admin_registration_path(registration),
                    method: :delete, class: "btn btn-danger btn-xs",
                    data: { confirm: "该操作不能撤消，确定要删除该报名信息吗？" } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
